/* root variables */
:root {
  --primaryColor: rgb(240, 240, 240);
  --secondaryColor: #e6e6e6;
  --thirdColor: #c3d9ff;
  --borderColor: #fff;
  --textColor: #3b4949;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: var(--primaryColor);
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
button {
  padding: 0.5rem 1.55rem;
  border: 1px solid #797979;
  border-radius: 3px;
  background-color: var(--thirdColor);
  outline: none;
  cursor: pointer;
}

/* header section */
.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ham-burger{
    font-size: 1.25rem;
    display: none;
    cursor: pointer;
}

/* nav bar section */
.nav-bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColor);
  border-top: 2px solid var(--borderColor);
  border-bottom: 2px solid var(--borderColor);
}
.nav-bar li {
  width: 14%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--borderColor);
  cursor: pointer;
}
.nav-bar li:last-child {
  border-right: none;
}
.mobile-nav-bar{
    width: 300px;
    position: absolute;
    right: 0%;
    top: 11.75%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondaryColor);
    z-index: 5;
}
.mobile-nav-bar li{
    padding: .5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    transition: .5s;
}
.mobile-nav-bar li:last-child{
    border-bottom: 0;
}
.mobile-nav-bar li:hover{
    transition: .5s ease-out;
    background-color: #000;
    color: var(--secondaryColor);
}

/* image slider section */
.image-slider {
  width: 1000px;
  height: 70vh;
  margin: 3rem auto;
  position: relative;
}
.image-slider .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.caption {
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--borderColor);
}
.prev-btn,
.next-btn {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}
.prev-btn {
  left: 0;
}
.next-btn {
  right: 0;
}

/* featured tours section */
.featured-tours {
  padding: 2rem 2rem 3rem;
  background-color: var(--secondaryColor);
  border-top: 2px solid var(--borderColor);
  border-bottom: 2px solid var(--borderColor);
}
.sub-title-lg {
  margin-left: 3rem;
}
.center-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-tours-inner {
  margin: 2rem auto 0;
  display: grid;
  grid-gap: 20px 10px;
  grid-template: repeat(1, max-content) / repeat(4, 250px);
}
.ind-tours-card {
  width: 100%;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  background-color: var(--primaryColor);
}
.card-img {
  width: 100%;
}
.ind-tours-card img {
  width: 100%;
  padding: 5px;
  transition: 0.3s;
}
.ind-tours-card img:hover {
  filter: sepia(25%);
  transform: scale(1.025);
}
.card-details {
  color: #797979;
  font-size: 0.8rem;
}
.card-text {
  padding: 0 9px 3rem;
}
.card-text button {
  float: right;
  padding: 0.25rem 0.75rem;
  margin-top: 0.5rem;
}

/* travel gallery section */
.travel-gallery {
  padding: 2rem 2rem 4rem;
  background-color: var(--secondaryColor);
  border-bottom: 2px solid var(--borderColor);
}
.travel-gallery-outer{
  width: 90vw;
  overflow-x: hidden;
  margin: 2rem auto 0;
}
.travel-gallery-inner {
  /* margin-left: -56.5%; */
  margin-left: -5.5%;
  display: flex;
  justify-content: flex-start;
  transition: .5s;
}
.travel-gallery img {
  width: 225px;
  transition: 0.3s;
}
.travel-gallery img:hover {
  filter: sepia(50%);
}

/* individual gallery image section */
.ind-gallery-sec{
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}
.cross-btn{
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 1.75rem;
  color: #fff;
  cursor: pointer;
}

/* footer */
.footer {
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColor);
}
.contact-inner,
.refer-inner,
.subscription-inner {
  margin: 1rem;
}
.row {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}
.label {
  width: 110px;
}
input,
textarea,
select {
  width: 225px;
  border: 1px solid #797979;
  border-radius: 3px;
  background-color: var(--thirdColor);
  outline: none;
}
input,
select {
  padding: 0 0.25rem;
  height: 30px;
}
textarea {
  padding: 0.25rem;
  height: 60px;
}
.contact p {
  margin: 0.5rem 0;
}
.contact p:first-child {
  font-size: 1.1rem;
  margin-top: 0;
}
.vertical-line {
  border-right: 1px solid #b3b3b3;
  height: 375px;
}

/* media queries*/
@media (max-width: 1150px) {
  .footer {
    display: grid;
    grid-template: repeat(3, max-content) / repeat(1, 1fr);
    place-items: center;
  }
  .vertical-line {
    border-top: 1px solid #797979;
    border-right: none;
    height: 0;
    width: 60%;
    margin: 2rem 0;
  }
  iframe {
    width: 450px;
    height: 350px;
  }
}
@media (max-width: 1075px) {
  .image-slider{
    width: 900px;
  }
  .featured-tours-inner {
    grid-template: repeat(2, max-content) / repeat(3, 250px);
  }
}
@media(max-width: 975px){
  .image-slider{
    width: 800px;
  }
}
@media (max-width: 850px){
  .image-slider{
    width: 700px;
    height: 65vh;
  }
    .header{
        border-bottom: 2px solid #fff;
    }
    .ham-burger{
        display: block;
    }
    .nav-bar{
        display: none;
    }
    .active{
        display: flex;
    }
    .image-slider{
      margin-top: 2rem;
    }
}
@media (max-width: 800px) {
  .featured-tours-inner {
    grid-template: repeat(2, max-content) / repeat(2, 300px);
  }
  .vertical-line {
    width: 80%;
  }
}
@media(max-width: 730px){
  .image-slider{
    width: 600px;
    height: 55vh;
  }
}
@media(max-width: 730px){
  .image-slider{
    width: 500px;
    height: 45vh;
  }
}
@media (max-width: 690px) {
  .featured-tours-inner {
    grid-template: repeat(2, max-content) / repeat(2, 250px);
  }
  iframe {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 555px) {
  .image-slider{
    width: 90vw;
    height: 35vh;
  }
  .featured-tours-inner {
    grid-template: repeat(4, max-content) / repeat(1, 300px);
  }
  .vertical-line {
    width: 90%;
  }
}
@media (max-width: 450px){
  .row{
    display: block;
  }
}
@media (max-width: 400px){
  .footer{
    padding: 2rem 1rem;
  }
}
@media (max-width: 370px){
  .footer{
    padding: 2rem 0;
  }
  .contact .sub-title-sm{
    margin-left: 1rem;
  }
}
@media (max-width: 340px) {
  .image-slider{
    height: 25vh;
  }
  .featured-tours-inner {
    grid-template: repeat(4, max-content) / repeat(1, 1fr);
  }
  iframe{
    width: 200px;
    height: 150px;
  }
}
@media (max-width: 300px){
  .mobile-nav-bar{
    width: 100vw;
  }
}
@media (min-width: 851px){
    .ham-burger{
        display: none;
    }
    .mobile-nav-bar{
        display: none;
    }
}